.facet-continuing input[type='checkbox'] {
    display: none;
}
            
.facet-continuing input[type='checkbox'] + label {
    display: block;
    position: relative;
    padding-left: 70px;
    line-height: 22px;
    cursor: pointer;
    overflow: hidden;
}

.facet-continuing input[type='checkbox'] + label:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background: #dedbdb;
    border: 1px solid #ccc;
    transition: all 0.5s ease;
}

.facet-continuing input[type='checkbox'] + label:before {
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #FFF;
    transition: all 0.5s ease;
    z-index: 5;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.6);
}

.facet-continuing input[type='checkbox']:checked + label:after {
    background: #008080;
}

.facet-continuing input[type='checkbox']:checked + label:before {
    transform: translateX(30px);
}