/*
* Series Teaser Display
*/

/* Desktop */
.serie-wrapper .serie-container article {
    height: 350px;
    width: 200px;
    background: #f3f3f3;
    border-radius: 5px;
    margin: 0 auto 30px auto;
}

.serie-container .serie-bottom h2 {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.serie-container .serie-bottom h2 a:hover {
    text-decoration: none;
}

.serie-container .serie-poster {
    height: 300px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
}

.serie-container .serie-overlay {
    visibility: hidden;
    padding: 0 10px;
    height: 300px;
}

.serie-container .serie-bottom .serie-button {
    visibility: hidden;
    position: relative;
    left: 9px;
    top: -27px;
    padding: 10px 56px;
    background: black;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.serie-container .serie-bottom .serie-button:hover {
    text-decoration: none;
}

.serie-container article:hover .serie-overlay {
    visibility: visible;
    background-color: black;
    opacity: 0.9;
    border-radius: 5px 5px 0 0;
}

.serie-container article:hover .serie-bottom h2 {
    visibility: hidden;
}

.serie-container article:hover .serie-bottom .serie-button {
    visibility: visible;
}

.serie-container .serie-overlay h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0;
    margin: 0;
    max-width: 140px;
}

.serie-container .serie-overlay h2 a {
    color: #ffffff;
}

.serie-container .serie-overlay h2:hover a {
    text-decoration: none;
}

.serie-container .serie-overlay .serie-date, .serie-container .serie-overlay .serie-genre, .serie-container .serie-overlay .serie-network {
    padding-top: 15px;
    padding-bottom: 15px;
}

.serie-container .serie-overlay .field--label {
    color: #ffffff;
}

.serie-container .serie-overlay .field--item {
    color: #f1f1f1;
}

.serie-container .serie-overlay .field--item a {
    color: #f1f1f1;
}

.serie-container .serie-overlay .serie-genres .field--item {
    display: inline;
}

.serie-container .serie-overlay .serie-genres .field__items .field--item a:after {
    content: ', ';
}

.serie-container .serie-overlay .serie-genres .field__items .field--item:last-child a:after {
    content: '';
}

.serie-container .serie-list-poster {
    display: none;
}

/* List view */

.list-view .serie-container {
    float: left;
    height: 110px;
    padding: 0;
}

.list-view .serie-container article {
    margin: 0;
    width: 100%;
    height: 110px;
    border-radius: 0;
}

.list-view article:hover .serie-overlay {
    border-radius: 0;
    opacity: 1;
}


.list-view .serie-list-poster {
    visibility: visible;
    display: inline-block;
    max-height: 90px;
    border-radius: 5px;
    margin: 5px;
}

.list-view .serie-poster {
    background: transparent !important;
    height: 100px;
    width: 100%;
}

.list-view .serie-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
    height: 100px;
    border-radius: 5px;
}

.list-view .serie-poster {
    border-radius: 0;
}

.list-view .serie-bottom {
    position: absolute;
    right: 25px;
    top: 10px;
}

.list-view .serie-overlay .serie-title {
    font-weight: bold;
    visibility: visible;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 100px;
    top: 30px;
    color: black;
    white-space: nowrap;
}

.list-view article:hover .serie-title {
    color: white;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-view .serie-overlay .serie-title a {
    visibility: visible;
    color: black;
}

.list-view .serie-bottom:hover  {
    color: white !important;
}

.list-view article:hover .serie-title a {
    color: white;
}

.list-view .serie-overlay .serie-date {
    position: absolute;
    left: 330px;
    top: 30px;
    padding: 0;
    margin: 0;
}

.list-view .serie-overlay .serie-genres {
    position: absolute;
    top: 52px;
    left: 100px;
}

.list-view .serie-overlay .serie-genres a {
    visibility: visible;
    color: black;
}

.list-view article:hover .serie-overlay .serie-genres a {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-view article:hover .serie-overlay .serie-genres {
    max-width: 200px;
}

.list-view .serie-overlay .serie-genres .field--label {
    display: none;
}

.list-view .serie-overlay .serie-network {
    display: block;
    position: absolute;
    left: 470px;
    top: 30px;
    padding: 0;
    margin: 0;
}

.list-view .serie-bottom .serie-button {
   visibility: visible;
   position: relative;
   left: 9px;
   top: 30px;
}

.list-view .serie-bottom h2 {
    display: none;
}

.list-view .serie-overlay .serie-favorite {
    visibility: visible;
    position: absolute;
    right: 220px;
    top: 5px;
}

.list-view .serie-overlay .serie-favorite .favorite-icon {
    top: 30px;
    right: 20px;
}

.list-view article:hover .serie-button {
    color: black;
    background: white;
}

@media only screen and (max-width : 1200px) {
    
    .list-view .serie-overlay .serie-genres, .list-view .serie-overlay .serie-date, .list-view .serie-overlay .serie-network {
        display: none;
    }
    
    .list-view .serie-overlay .serie-title {
        max-width: 300px !important;
        overflow: visible;
    }
    
    .list-view article:hover .serie-title {
        white-space: normal;
        text-overflow: clip;
    }
    
    .list-view .serie-bottom .serie-button {
        padding: 10px 10px !important;
    }
    
    .list-view .serie-overlay .serie-favorite {
        right: 100px !important;
    }
}

@media only screen and (max-width : 500px) {
    .list-view .serie-overlay .serie-title {
        white-space: normal;
        text-overflow: clip;
        max-width: 100px !important;
    }
    
    .list-view article:hover .serie-title {
        white-space: normal;
        text-overflow: clip;
    }
    
    .list-view .serie-overlay .serie-title a {
        font-weight: normal;
        font-size: 16px;
    }
}    

/*
* Serie Episodes Block 
*/

.region-content .serie-episode-block .first-aired-date {
    float: right;
}


/*
* Serie page
*/
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > div > h1 > span {
    display: none;
}

.serie-header .serie-title {
    color: #fff;
    font-size: 56px;
    margin-top: 30px;
}

.serie-page-poster > div > img {
    margin-top: 50px;
    margin-bottom: 12px;
    margin-left: 12px; 
}

.serie-air-date, 
.serie-air-time,
#overview{
    color: #fff;
}

.field--label,#information {
    font-size: 16px;
    color: #fff;
}

#serie-information, .serie-description {
    margin-top: 20px;
}

#serie-info {
    display: inline-flex;
    color: #fff;
}

#serie-info > div:first-child {
    margin-left: 0px;
}

#serie-info > div {
    margin-right: 40px;
}

.serie-air-date, .serie-air-time {
    text-align: center;
}

.serie-air-date {
    font-size: 20px;
    margin-top: 50px;
}

.serie-air-time {
    font-size: 16px;
}

#serie-info > div.serie-network > div > div.field--item > div > h2 > a > div {
    font-size: 14px;
}

.serie-actors > div > div > div > h2 > a {
    font-size: 12px;
}
/*
* Favorite link
*/

.serie-wrapper .serie-favorite .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.serie-wrapper .serie-favorite .favorite-icon:hover {
    background-size: 18px 18px;
}

.serie-wrapper .serie-favorite .action-flag .favorite-icon {
    background-image: url(../img/icon-favorite.svg);
}

.serie-wrapper .serie-favorite .action-unflag .favorite-icon {
    background-image: url(../img/icon-favorite-active.svg);
}

.serie-wrapper .serie-favorite .ajax-throbber { 
    display: none;
}

@media only screen and (min-width : 768px) {
    .path-series .region-sidebar-first {
        margin-top: 75px;
    }
}

@media only screen and (max-width : 768px) {
    .serie-wrapper .serie-header {
        display: none !important;
    }
    
    .path-series .panel-group .panel + .panel {
        margin: 0;
    }
}

/*
* All series page 
*/

/* Facets */
.panel-body .js-facets-checkbox-links {
    list-style-type: none;
    padding: 0;
}

.panel-body ul .facet-item {
    margin: 2px 0px 2px 5px; 
}

.panel-body ul .facet-item label {
    margin-left: 5px;
    font-weight: normal;
}

.panel-heading .block-title {
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width : 768px) {
    .panel-body ul .facet-item {
        margin: 0px 0px 0px 5px; 
    }

    .panel-body ul .facet-item label {
        margin-left: 2px;
    }
}

/* List-Grid buttons */

.list-grid {
    width: 60px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}

.list-grid .grid, .list {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border: 2px solid grey;
    background-size: 64px;
    cursor: pointer;
}

.list-grid .grid {
    background-image: url(../img/list-grid-sprite.png);
    background-position: left 5px bottom 4px;
    cursor: default;
    pointer-events: none;
    background-color: black;
    border-color: black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
    margin-right: -2px;
}

.list-view .grid {
    background-position: left 5px top 6px;
    cursor: pointer;
    pointer-events: all;
    background-color: #fff;
    border-color: grey;
}

.list-view .list {
    background-position: right 4px bottom 5px !important;
    cursor: default;
    pointer-events: none;
    background-color: black;
    border-color: black;
    z-index: 2;
}

.list-grid .list {
    background-image: url(../img/list-grid-sprite.png);
    background-position: right 4px top 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.serie-wrapper .control-label {
    display: none;
}

.serie-wrapper .view-filters {
    display: inline-block;
    float: right;
}

.serie-wrapper .view-filters .views-exposed-form {
    float: left;
}

/* Hide the search form and submit button exposed filter */
.serie-wrapper .view-filters button, .serie-wrapper .form-item-title  {
    display: none;
}

.serie-wrapper .serie-header {
    display: block;
    height: 70px;
}

.serie-wrapper .serie-header h2 {
    margin: 0;
    padding: 0;
    float:left;
}

.serie-wrapper .bef-exposed-form .form-control {
    height: 30px;
    border: 2px solid grey;
    border-radius: 3px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.serie-wrapper .bef-exposed-form .select-wrapper:after {
    color: black;
}
