/*
* Series page
*/
@media only screen and (min-width : 768px) {
    .path-series .region-sidebar-first {
        margin-top: 75px;
    }
}

@media only screen and (max-width : 768px) {
    .path-series .panel-group .panel + .panel {
        margin: 0;
    }

    .serie-wrapper .view-filters {
        display: none;
    }
}

.serie-wrapper .control-label {
    display: none;
}

.serie-wrapper .view-filters {
    width: 100%;
    height: 40px;
}

.serie-wrapper .view-filters .views-exposed-form {
    float: right;
}

/* Hide the search form and submit button exposed filter */
.serie-wrapper .view-filters button, .serie-wrapper .form-item-title  {
    display: none;
}

/*
* Series Teaser Display
*/

/* Desktop */
.serie-wrapper .serie-container article {
    height: 350px;
    width: 200px;
    background: #f3f3f3;
    border-radius: 5px;
    margin: 0 auto 30px auto;
}

.serie-container .serie-bottom h2 {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.serie-container .serie-bottom h2 a:hover {
    text-decoration: none;
}

.serie-container .serie-poster {
    height: 300px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
}

.serie-container .serie-overlay {
    visibility: hidden;
    padding: 0 10px;
    height: 300px;
}

.serie-container .serie-bottom .serie-button {
    visibility: hidden;
    position: relative;
    left: 9px;
    top: -27px;
    padding: 10px 60px;
    background: black;
    border-radius: 3px;
    color: white;
}

.serie-container .serie-bottom .serie-button:hover {
    text-decoration: none;
}

.serie-container article:hover .serie-overlay {
    visibility: visible;
    background-color: black;
    opacity: 0.9;
    border-radius: 5px 5px 0 0;
}

.serie-container article:hover .serie-bottom h2 {
    visibility: hidden;
}

.serie-container article:hover .serie-bottom .serie-button {
    visibility: visible;
}

.serie-container .serie-overlay h2 {
    font-size: 16px;
    padding: 15px 0;
    margin: 0;
    max-width: 140px;
}

.serie-container .serie-overlay h2 a {
    color: #ffffff;
}

.serie-container .serie-overlay h2:hover a {
    text-decoration: none;
}

.serie-container .serie-overlay .serie-date, .serie-container .serie-overlay .serie-genre {
    padding-top: 15px;
    padding-bottom: 15px;
}

.serie-container .serie-overlay .field--label {
    color: #ffffff;
}

.serie-container .serie-overlay .field--item {
    color: #f1f1f1;
}

.serie-container .serie-overlay .field--item a {
    color: #f1f1f1;
}

/*
* Serie Episodes Block 
*/

.region-content .serie-episode-block .first-aired-date {
    float: right;
}


/*
* Serie page
*/
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > div > h1 > span {
    display: none;
}

.serie-header .serie-title {
    color: #fff;
    font-size: 56px;
    margin-top: 30px;
}

.serie-page-poster > div > img {
    margin-top: 50px;
    margin-bottom: 12px;
    margin-left: 12px; 
}

.serie-air-date, 
.serie-air-time,
#overview{
    color: #fff;
}

.field--label,#information {
    font-size: 16px;
    color: #fff;
}

#serie-information, .serie-description {
    margin-top: 20px;
}

#serie-info {
    display: inline-flex;
    color: #fff;
}

#serie-info > div:first-child {
    margin-left: 0px;
}

#serie-info > div {
    margin-right: 40px;
}

.serie-air-date, .serie-air-time {
    text-align: center;
}

.serie-air-date {
    font-size: 20px;
    margin-top: 50px;
}

.serie-air-time {
    font-size: 16px;
}

#serie-info > div.serie-network > div > div.field--item > div > h2 > a > div {
    font-size: 14px;
}

.serie-actors > div > div > div > h2 > a {
    font-size: 12px;
}
/*
* Favorite link
*/

.serie-wrapper .serie-favorite .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.serie-wrapper .serie-favorite .favorite-icon:hover {
    background-size: 18px 18px;
}

.serie-wrapper .serie-favorite .action-flag .favorite-icon {
    background-image: url(../img/icon-favorite.svg);
}

.serie-wrapper .serie-favorite .action-unflag .favorite-icon {
    background-image: url(../img/icon-favorite-active.svg);
}

.serie-wrapper .serie-favorite .ajax-throbber { 
    display: none;
}

/*
* Facets
*/

.panel-body .js-facets-checkbox-links {
    list-style-type: none;
    padding: 0;
}

.panel-body ul .facet-item {
    margin: 2px 0px 2px 5px; 
}

.panel-body ul .facet-item label {
    margin-left: 5px;
    font-weight: normal;
}

.panel-heading .block-title {
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width : 768px) {
    .panel-body ul .facet-item {
        margin: 0px 0px 0px 5px; 
    }

    .panel-body ul .facet-item label {
        margin-left: 2px;
    }
}