<div class="col-xs-12 col-sm-12 search-serie">
    {% block content %}
      {{ content }}
      <span id="facet-search-submit" class="icon search-button glyphicon glyphicon-search" aria-hidden="true"></span>
    {% endblock %}
</div>
